@tailwind base;
@tailwind components;
@tailwind utilities;



.active {
  @apply text-[#20b486]
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .roted {
    animation: logo-spin infinite 20s linear;
  }
}
